[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>

<div class="section" id="app" v-cloak>
  <h1 class="title"><i class="fa-solid fa-cube"></i> Checklist Page</h1>
  <div>
    <input v-model="searchTerm" @input="searchSpecies" placeholder="Search for species">
    <ul>
      <li v-for="species in speciesResults" @click="addSpecies(species)">
        {{ species.name }}
      </li>
    </ul>
  </div>
  <table>
    <tr v-for="(sighting, index) in sightings">
      <td>{{ sighting.name }}</td>
      <td><input type="number" v-model="sighting.species_count" min="1"></td>
      <td><button @click="removeSpecies(index)">Remove</button></td>
    </tr>
  </table>
  <button @click="submitChecklist">Submit Checklist</button>
</div>

[[block page_scripts]]
<script>
  let get_species_url = "[[=URL('get_species')]]";
  let submit_checklist_url = "[[=URL('submit_checklist')]]";
</script>
<script src="js/checklist.js"></script>
[[end]]
