[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
     
}
.section {
  display: flex;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.column-name {
  font-weight: bold;
}

.grid-row {
  display: contents;
}

.grid-item {
  padding: 10px;
  background-color: #f1f1f1;
}


.left-section {
  flex: 2;
  padding-right: 20px;
}

.column-names {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  font-weight: bold;
}

.grid-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.right-section {
  flex: 1;
}
</style>


<div class="section" id="app" v-cloak>
  <!-- Put here your Vue.js template -->

  <div class='left-section'>
    <h1 class="title"><i class="fa-solid fa-cube"></i>Region Information</h1>
    <p>Num checklists: {{checklists.length}} </p>
    <p>Num sightings: {{sightings.length}}</p>
    <h3>Species in Region</h3>
    <select v-model="selectedSpecies" @change="setSpecies">
        <option v-for="sighting in unique_sightings" :key="sighting.id" :value="sighting">
          {{ sighting.name }}
        </option>
    </select>
    <div><canvas id='chart'></div>
  </div>
  <div class='right-section'>
    <h3 class="title">Top Contributors of Region</h3>
    <div class="grid-container">
      <div class="column-name">Email</div>
      <div class="column-name">Checklists</div>
      <div class="column-name">Sightings</div>
      <div class="column-name">Birds Seen</div>
      <div v-for='contributor in top_contributors' :key='contributor[0]' class="grid-row">
        <div class="grid-item">{{contributor[0]}}</div>
        <div class="grid-item">{{contributor[1]}}</div>
        <div class="grid-item">{{contributor[2]}}</div>
        <div class="grid-item">{{contributor[3]}}</div>
      </div>
    </div>
  </div>
</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->

<script>
  let my_callback_url = "[[=XML(my_callback_url)]]";
  let get_region_information_url = "[[=XML(get_region_information_url)]]";
  window.lat1 = "[[=XML(lat1)]]";
  window.lat2 = "[[=XML(lat2)]]";
  window.lng1 = "[[=XML(lng1)]]";
  window.lng2 = "[[=XML(lng2)]]";
  console.log(lat1)
</script>

<div>
  <canvas id="myChart"></canvas>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script src="js/location.js"></script>

[[end]]