[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>


<div class="section" id="app" v-cloak>
  <!-- Put here your Vue.js template -->
  <h1 class="title"><i class="fa-solid fa-cube"></i> Title</h1>
  <p>Num checklists: {{checklists.length}} </p>
  <p>Num sightings: {{sightings.length}}</p>

  <div>
    <h3>Species in Region</h3>
    <select v-model="selectedSpecies" @change="setSpecies">
        <option v-for="sighting in unique_sightings" :key="sighting.id" :value="sighting">
          {{ sighting.name }}
        </option>
    </select>
    <h3>Selected Species:</h3>
    <p>{{selectedSpecies}}</p>
  </div>
</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->

<script>
  let my_callback_url = "[[=XML(my_callback_url)]]";
  let get_region_information_url = "[[=XML(get_region_information_url)]]";
  let lat1 = "[[=XML(lat1)]]";
  let lat2 = "[[=XML(lat2)]]";
  let long1 = "[[=XML(long1)]]";
  let long2 = "[[=XML(long2)]]";
</script>

<script src="js/location.js"></script>
[[end]]